<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'static_authentication/bootstrap-4.0/css/bootstrap.min.css' %}" rel='stylesheet'>
    <link href="{% static 'static_authentication/fontawesome-free-5.15.1-web/css/all.css' %} " rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
        type="text/css">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'static_website/css/nav.css' %}" />
    <link rel="icon" href="{% static 'static_website/images/favicon.ico' %}" type="image/x-icon">
    <title>ExaPro</title>
</head>


<body>
    <div>

        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#40006e;">
            <a class="navbar-brand" href="#"
                style="font-family:'Comic Sans MS'">ExaPro</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <br>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-customers" href="{% url 'customers' %}"
                            style="color:white; transition: all .3s ease-in-out;"><i class="fa fa-home"
                                aria-hidden="true"></i>Our customers</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" id="nav-inbox" href="{% url 'inbox' %}"
                            style="color:white; transition: all .3s ease-in-out;"><i
                                class="fa fa-envelope" aria-hidden="true"></i>Inbox</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" id="nav-logout" href="{% url 'logout' %}"
                            style="color:white; transition: all .3s ease-in-out;"><i
                                class="fa fa-sign-out" aria-hidden="true"></i>Logout<span
                                class="sr-only">(current)</span></a>
                    </li>

                </ul>
            </div>
        </nav>

        

        {% block content %}
        {% endblock content %}
</body>

<script type='text/javascript' src="{% static 'static_authentication/bootstrap-4.0/js/jquery-3.5.1.min.js' %}"></script>
<script type='text/javascript' src="{% static 'static_authentication/bootstrap-4.0/js/popper.min.js' %}"></script>
<script type='text/javascript' src="{% static 'static_authentication/bootstrap-4.0/js/bootstrap.min.js' %}"></script>


</html>